/*css code for layout */

Screen { layout: vertical; }

#url-bar {
    height: auto;
}

#url-bar .expand {
    width: 1fr; 
}

#url-bar .compact {
    width: auto;
}
#url-input {
        width: 62%;
}
#main-content { height: 1fr; }
#response-headers-container { height: 1fr; }
#response-headers-table { height: 35%; }
#split-content { height: 2fr; }
#edited-headers { height: 44%; }
#response-body-pane, #sent-headers-pane { width: 1fr; }
#response-body, #sent-headers-table { height: 95%; }
.pane-header { text-style: bold; color: $accent; margin: 0 0 1 0; }
#platter { dock: bottom; padding: 1; height: auto; max-height: 7; background: $surface; }
#menu-dialog , #repeater-dialog, #encoder-dialog, #scanner-dialog, #payload-dialog, #session-dialog, #cookie-dialog, #history-dialog, #settings-dialog, #load-request-dialog, #method-dialog {
    padding: 2; background: $panel; border: thick $accent; width: 85%; height: 65%;
}
#menu-title, #repeater-title, #encoder-title, #scanner-title, #payload-title, #session-title, #cookie-title, #history-title, #settings-title, #load-request-title, #method-title { text-align: center; text-style: bold; margin-bottom: 1; }
